@import 'tailwindcss';
@import 'tw-animate-css';


.bg-background {
  background-color: var(--background);
}

.text-foreground {
  color: var(--foreground);
}

.bg-card {
  background-color: var(--card);
}